html,
body {
    margin: 0;
    padding: 0;

}

header {
    background-color: grey;
    padding-top: 10px;

    h1 {
        margin: 0;
        text-align: center;
        color: white;
    }
}

nav {
    display: flex;
    justify-content: center;
    

    ul {
        display: flex;
        padding: 0;
        gap: 10px;
        list-style: none;
        
        a {
            text-decoration: none;
        }
    }
}

main {
    margin-left: 50px;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 10px;
    color: white;
}